name: CI/CD Pipeline laba19

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

      - name: Build app
        run: npm run build

      - name: Build Docker image
        run: docker build -t laba19-app:latest -f Dockerfile.optimized .

      # УБРАТЬ ЛОГИН И ПУШ В DOCKER HUB (они не нужны если не используешь Docker Hub)
      # - name: Login to Docker Hub
      # - name: Push Docker image